site_name: SHOW TECHNOLOGIES DOCS
site_url: https://docs.show-technologies.com/
theme:
  name: material
  font: 
    text: Open Sans
  language: en
  logo: assets/logo_darkmode.png
  favicon: assets/ico_darkmode.ico
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      acccent: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.footer
    - navigation.path
    - navigation.indexes
    - toc.integrate

nav:
  - Home: index.md
  - API Reference:
    - OSC API: osc_api.md

extra:
  generator: false
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/showtechnologies/
    - icon: fontawesome/solid/home
      link: https://www.show-technologies.com


extra_css:
  - stylesheets/extra.css

validation:
  omitted_files: warn
  absolute_links: warn  # Or 'relative_to_docs' - new in MkDocs 1.6
  unrecognized_links: warn
  anchors: warn  # New in MkDocs 1.6